<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
    {{>navbar}}

<!--main header ----->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
<div class="row"><!---left side-->
    <div class="col-md-6 col-12 main_header_left">
    
    <p>welcome to Weather app</p>
   
    <h1>Get The Latest <span class= "text-color"> Weather </span> Info of Your City</h1>
    <a href="/weather"><button>Get Now</button></a>
    </div>
   <!---right side-->
    <div class="col-md-6 col-12 main_header_right">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="image/img1.jpg" class=" w-100" alt="First Slide">
              </div>
          
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            </div></div>
</div></div>
    </div></div> </div>
  </div>
{{>footer}}
</body>
</html>